* {
    box-sizing: border-box;
  }
* {
    font-family: 'Roboto', sans-serif; 
    background-color: rgb(230, 192, 233); 
}
figure{
  border: 15px solid #a63ae6;
  padding: 15px;
  margin: 0px;
  background-color: #a63ae6;
  border-radius: 25px;
}
aside{
  border: 15px solid #a63ae6;
  padding: 30px;
  margin: 0px;
  background-color: #a63ae6;
  text-align: center;
  border-radius: 25px;
}
h3{
  border: 15px solid #a63ae6;
  padding: 0px;
  margin: 0px;
  background-color: #a63ae6;
  text-align: center;
  font-size: 25px;
}
section{
  border: 30px solid rgb(230, 192, 233);
  padding: 0px;
  margin: 0px;
  background-color: rgb(230, 192, 233);
}
h1{
  font-size: 40px;
  margin: 15px;
}
h2{
  text-align: center;
}
nav{
  text-align: center;
}
#fotocv{
  border: 10px solid white;
  padding: 0px;
  width: 150px;
  height: 150px;
  border-radius: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.ClaseParrafoAside{
  text-align: center;
  background-color: #a63ae6;

}
.file{
  text-align: center;
  background-color: #a63ae6;
}
.ClaseBotom{
  background-color: rgb(239, 169, 74);
}
.BarraProgreso{
  background-color: #a63ae6;
}
#ParrafoProfesion{
  font-size: 30px;
  margin: 15px;
}
.ClaseParrafoItem{
  text-align: justify;
}
/* (fuente: w3chools.com) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
/* (fuente: w3chools.com) */
  [class*="col-"] {
    float: left;
    padding: 15px;
  }

.ClaseIcono{
  width: 35px;
  height: 35px;
  background-color: #a63ae6;
}

  /* For mobile phones: (fuente: w3chools.com)*/
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: (fuente: w3chools.com) */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: (fuente: w3chools.com) */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }